<div class="col-md-8 col-md-offset-2">
  <div class='message-show'>
    <center>
      <h1><%= @project.title %></h1>
      <p class='message-posted-by'>Posted by <%= @project.user.email %> <%= time_ago_in_words(@project.created_at) %> ago</p>
      <p class='message-desc'><%= @project.description %></p>
    </center>
    <p class='message-desc'>We need: <%= @category.name %> developer</p>

      <p>Comments:</p>
      <%= render @project.comments %>
      <%= render 'comments/form' %>

    <div class='links btn-group'>
      <% if user_signed_in? %>
        <% if @project.user.id == current_user.id %>
          <%= link_to 'Edit project', edit_project_path(@project), class: 'btn btn-default' %>
          <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</div
